/TheMovies.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/TheMovies.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/TheMovies.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/TheMovies.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/TheMovies.xcodeproj/xcuserdata/apple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/TheMovies.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
